html, body {
    margin: 0;
    padding: 0;
  }
  
  /*************************/
  /*    Styling  Header    */
  /*************************/
  header{
       
      overflow: hidden;
      width: 100%;
      background: #bcfa9350;
      position: sticky; 
      top: 0;
  }
   
  #top-header{
           
      text-align: center;
      height: 70px;
      background: #bcfa9350;
      position: sticky; 
      top: 0;
  }
   
  /****************/   
  /* Styling Logo */
  /****************/
  #logo{
      float: left;
      padding: none;
      margin: none;
      height: 64px;
      width: 64px;
      position: sticky; 
      top: 0;
  }
   
  #logo img{
      width: 64px;
      float: left;
      padding: 3px 3px;
      position: sticky; 
      top: 0;
  }   
   
  /***************************/
  /* Styling Navigation Menu */
  /***************************/
  #menu{
      float: center;
      width: 100%;
      height: 100%;
      margin: none;
      background: #bcfa9350;
      position: sticky; 
      top: 0;
  }
       
  #menu ul{
      text-align: right;
      float: center;
      background: #bcfa9350;
      padding: none;
      position: sticky;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
  }
       
  #menu li{
      display: inline-block;
      padding: none;
      margin: none;
      background: #bcfa9350;
      position: sticky; 
      top: 0;
  }
       
  #menu li a, #menu li span{
      display: inline-block;
      padding: 0em 1em;
      text-decoration: none;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 70px;
      background: #bcfa9350;
      position: sticky; 
      top: 0;
  }
       
  #menu li a{
      color: #000000;
  }
       
  #menu li:hover a, #menu li span{
      background: #8fbd7150;
      color: #000000;
      text-decoration: none;
      font-weight: 800;
  }

  .parallax {
    /* The image used */
    background-image: url("/images/temp.jpg");
  
    /* Set a specific height */
    min-height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    }
    .tooltip {
        position:relative; /* making the .tooltip span a container for the tooltip text */
        border-bottom:1px dashed #000; /* little indicater to indicate it's hoverable */
    }
    .tooltip:before {
        content: attr(data-text); /* here's the magic */
        position:absolute;
        
        /* vertically center */
        top:50%;
        transform:translateY(-50%);
        
        /* move to right */
        left:100%;
        margin-left:15px; /* and add a small left margin */
        
        /* basic styles */
        width:200px;
        padding:10px;
        border-radius:10px;
        background:#000;
        color: #fff;
        text-align:center;
      
        display:none; /* hide by default */
      }
      .tooltip:hover:before {
        display:block;
      }
      .tooltip:after {
        content: "";
        position:absolute;
        
        /* position tooltip correctly */
        left:100%;
        margin-left:-5px;
       
        /* vertically center */
        top:50%;
        transform:translateY(-50%);
       
        /* the arrow */
        border:10px solid #000;
        border-color: transparent black transparent transparent;
        
        display:none;
      }
      .tooltip:hover:before, .tooltip:hover:after {
        display:block;
      }
      .tooltip:before {
        /* other styles */
      
        /*  display:none; */
      
        opacity:0;
        transition:.3s opacity;   
      }
      .tooltip:hover:before {
        opacity:1;
      }
      .tooltip:after {
        opacity:0;
        transition:.3s;
      }
      .tooltip:hover:after {
        opacity:1;
      }
    #welcome {
      float: left;
    }
    .title {
      text-align: center;
    }
    .welcomep {
      text-align: center;
    }